<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="FileFormat" value="txt"/>
		<add key="ProductsFileName" value="Products"/>
		<add key="CategoriesFileName" value="Categories"/>
		<add key="TablesFileName" value="Tables"/>
		<add key="OrdersFileName" value="Orders"/>
	</appSettings>
</configuration>